src/main/mule/test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73ee8f7d-105f-449c-8d63-2e6276f4216b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-apiFlow" doc:id="94310f0e-ec8f-4c30-b91c-fe0c3f1ea1e4" >
		<http:listener doc:name="Listener" doc:id="cbf1dc81-982e-4fd5-9692-f992b35a81e4" config-ref="HTTP_Listener_config" path="/test"/>
		<flow-ref doc:name="Flow Reference" doc:id="de8a2450-4578-41f7-97e1-c2719753f62b" name="test-apiSub_Flow"/>
	</flow>
	<sub-flow name="test-apiSub_Flow" doc:id="4cef263e-d4d9-4c54-80a3-35326a2968d4" >
		<set-payload value="#['Hello Salumiah!!']" doc:name="Set Payload" doc:id="63b495d3-7fe7-4908-bfcc-b17418200211" />
	</sub-flow>
</mule>
